<%= content_for :title, "Profile" %>

<div class="profile-container">
  <h1>Your Profile</h1>

  <div class="profile-details">
    <div class="profile-item">
      <strong>First Name:</strong>
      <%= current_user&.first_name %>
    </div>
    <div class="profile-item">
      <strong>Last Name:</strong>
      <%= current_user&.last_name %>
    </div>
    <div class="profile-item">
      <strong>Email:</strong>
      <%= current_user.email %>
    </div>
  </div>

  <%= link_to 'Edit Profile', edit_registration_path(current_user), class: "btn btn-success" %>
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <div class="m-5">
          <i class="fa-solid fa-arrow-right-from-bracket text-black fs-1"></i>
          <div class="logo-caption text-black mt-2">Sign Out</div>
        </div>
      <% end %>
</div>
