<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="card m-3" style="max-width: 600px; border-radius: 20px">
  <div class="row g-0">

    <div class="col-4 d-flex justify-content-center align-items-center">
  <%= link_to book_path(favorite.book, return_to_favorites: true) do %>
    <img class="img-fluid" src="<%= favorite.book.thumbnail %>" alt="Book Picture" id="img-book" style="height: 160px; display: flex; justify-content: center; align-items: center; overflow: hidden; border-radius: 10px;">
  <% end %>
</div>



    <div class="col-8">
      <div class="card-body p-2">
        <div class="position-relative">
          <button class="btn btn-light position-absolute top-0 end-0 mt-2 me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="width: 70vw; background-color: #f5f5f5">
            <li class="m-2">
            <div class="d-flex">
              <%= render "shared/popupshare", id: favorite.id %>
              <p class="mt-2 ps-1">Share this book</p>
              </div>
            </li>
            <li>
              <%= render "favorites/fav_button", favorite: favorite, book: favorite.book %>
            </li>
            <li id="test">
              <% if favorite.read %>
                <%= button_to 'Remove from Read', mark_as_unread_favorite_path(favorite), method: :patch, data: { turbo: false }, class: "dropdown-item", id: "remove-from-read-button" %>
              <% else %>
                <%= button_to 'Read', mark_as_read_favorite_path(favorite), method: :patch, data: { turbo: false }, class: "dropdown-item", id: "mark-as-read-button" %>
              <% end %>
            </li>
          </ul>
        </div>
        <ul class="list-unstyled mb-0">
          <li><p class="mb-1 text-muted"><i class="favorites-text">Title</i></p> <h3 class="mb-1"><strong><%= favorite.book.title %></strong></h3></li>
          <li><p class="mb-1 text-muted"><i class="favorites-text">Author</i></p> <h3 class="mb-1"><strong><%= favorite.book.author %></strong></h3></li>
          <li><p class="mb-1 text-muted"><i class="favorites-text">Year</i></p> <h3 class="mb-1"><strong><%= favorite.book.publishing_date.year %></strong></h3></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
