<div class="card mb-3" style="max-width: 600px;">
  <div class ="row g-0">
    <div class="col-4">
      <img class="img-fluid rounded-start" src="<%= favorite.book.thumbnail %>" alt="Book Picture" id="img-book">
    </div>
      <%# <% if @favorites.read == "True" %>
    <div class="col-8">
      <div class="card-body">
        <ul>
          <h4>Title</h4> <%= favorite.book.title %><br>
          <h4>Author</h4> <%= favorite.book.author %><br>
          <h4>Year</h4> <%= favorite.book.publishing_date %> <br>
          <div class="d-flex">
          <%= render "shared/popupshare", id:favorite.id %>

            <% if favorite.read %>
              <%= button_to 'Unread', mark_as_unread_favorite_path(favorite), method: :patch, data: { confirm: 'Are you sure you want to mark this book as unread?' }, class: "btn custom-btn ms-2"%>
            <% else %>
              <%= button_to 'Read', mark_as_read_favorite_path(favorite), method: :patch, data: { confirm: 'Are you sure you want to mark this book as read?' }, class: "btn custom-btn ms-2" %>
            <% end %>          </div>
          <%# <%= render "suggestions/sugg_button" %>
        </ul>
      </div>
    </div>
  </div>
</div>
