<% unless current_page?(root_path) %>
<div class="navbar navbar-expand-sm navbar-lewagon d-flex rounded-pill">
  <div class="container-fluid justify-content-around align-items-center ">

      <% if user_signed_in? %>
        <%= link_to root_path, class: "navbar-brand p-0 m-0" do %>
          <%# <%= if current_page?(root_path)%>
            <%# <div class ="yellowcolor"> %>
              <div class="d-flex flex-column align-items-center logo-container" <%= "yellowcolor" if current_page?(favorites_path) %>">
                <i class="fa-solid fa-house fs-1"></i>
                <div class="logo-caption mt-2">Suggestion</div>
              </div>
            <%# </div> %>
          <% end %>
          <%= link_to favorites_path, class: "navbar-brand p-0 m-0" do %>

            <div class="d-flex flex-column align-items-center logo-container  <%= "yellowcolor" if current_page?(favorites_path) %>">
              <i class="fa-regular fa-bookmark fs-1"></i>
              <div class="logo-caption mt-2">Favorites</div>
            </div>
          <% end %>
          <%= link_to next_book_path, class: "navbar-brand p-0 m-0" do %>

            <div class="d-flex flex-column align-items-center logo-container <%= "yellowcolor" if current_page?(next_book_path) %>">
              <i class="fa-solid fa-dice fs-1"></i>
              <div class="logo-caption mt-2">NB</div>
            </div>
          <% end %>
          <%= link_to profile_path, class: "navbar-brand p-0 m-0" do %>

            <div class="d-flex flex-column align-items-center logo-container <%= "yellowcolor" if current_page?(profile_path) %>">
              <i class="fa-regular fa-user fs-1"></i>
              <div class="logo-caption mt-2">Profile</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <i class="fa-regular fa-user text-white fs-1"></i>
              <div class="logo-caption text-white mt-2">Sign In</div>
            </div>
          <% end %>
          <%= link_to "#", class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <%= image_tag "logo.png"%>
              <div class="logo-caption text-white mt-0.5">Daily</div>
            </div>
          <% end %>
          <%= link_to new_user_registration_path, class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <i class="fa-regular fa-user text-white fs-1"></i>
              <div class="logo-caption text-white mt-2">Sign Up</div>
            </div>
          <% end %>



      <% end %>
  </div>
</div>
<% end %>
