<%= form_with url: suggestions_path, method: :get, class: "d-flex flex-column", data: { controller: "questionnaire-home" } do %>

  <div data-questionnaire-home-target="question1">
    <h5 class="d-flex justify-content-center m-4">What do you want to feel ?</h5>
    <div class="d-flex flex-wrap justify-content-evenly" id="q1">

     <div class="card-answer">
        <%= button_tag "Intrigue", type: "button", name: "mood", value: "Suspenseful",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/c5/30/d7/c530d7a64810815a808dab8aec8866da.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Tension", type: "button", name: "mood", value: "Intense",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/56/25/ac/5625acd991e87cf269ee23b5728e5867.jpg'); background-size: cover; background-position: end; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Reflection", type: "button", name: "mood", value: "Reflective",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/2f/8a/39/2f8a39513987ed2b3cce91b9cc24393f.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Exploration", type: "button", name: "mood", value: "Futuristic",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/02/c9/83/02c983091a15fdd84ed61de5f36de63b.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Magic", type: "button", name: "mood", value: "Magical",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/f7/ee/f8/f7eef8459d818a5f7d3fcd8ece640a6d.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Escape", type: "button", name: "mood", value: "Epic",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/47/66/76/476676d7468daad86b3a3789a5b426e9.jpg'); background-size: cover; background-position: center top; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Passion", type: "button", name: "mood", value: "Heartwarming",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/a3/06/b4/a306b4e027b869aaf22075b28e9a89b1.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Fear", type: "button", name: "mood", value: "Terrifying",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/3809379/pexels-photo-3809379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center top; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Excitement", type: "button", name: "mood", value: "Exciting",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/ab/e4/47/abe447aa3711493b99944e792c69edca.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Amusement", type: "button", name: "mood", value: "Humorous",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/bf/d6/b5/bfd6b5ead3e81c7d0ff530a2a6c98de3.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Empathy", type: "button", name: "mood", value: "Emotional",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/26/b6/1e/26b61ef8c2d31032c4b4c0eebe73f392.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Inspiration", type: "button", name: "mood", value: "Inspirational",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/originals/be/66/bb/be66bb467443b585b91e0d41ff9f5401.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectMood" } %>
      </div>
    </div>
  </div>

  <div data-questionnaire-home-target="question2" class="d-none">
    <h5 class="d-flex justify-content-center m-4">How long would you like your suggestion to be ?</h5>
    <div class="d-flex flex-wrap justify-content-around mb-4" id="q2">

      <div class="card-answer">
        <%= button_tag "Quick Read", type: "button", name: "pages", value: "short",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/564x/eb/17/03/eb17039cbf66576eefb1f6f331d0b751.jpg'); background-size: cover; background-position: top right; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectPages" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Standard Read", type: "button", name: "pages", value: "medium",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.pinimg.com/564x/df/1e/4a/df1e4a4a3265c9bfa77d914b98c49fe6.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectPages" } %>
      </div>

       <div class="card-answer">
        <%= button_tag "Lengthy Read", type: "button", name: "pages", value: "big",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://drsw10gc90t0z.cloudfront.net/AcuCustom/Sitename/DAM/544/Dictionary__Shutterstock1.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectPages" } %>
      </div>

      <div class="card-answer">
        <%= button_tag "Any Length Adventure", type: "button", name: "pages", value: "Anyway",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectPages" } %>
      </div>
       <button type="button" class="btn btn-back mb-4" data-action="click->questionnaire-home#goBackToQuestion1">Back</button>
    </div>
  </div>

  <div data-questionnaire-home-target="question3" class="d-none">
      <div class="d-flex flex-column align-items-center">
    <h5 class="d-flex justify-content-center m-4">Are you in the mood for a timeless classic or a new release?</h5>
    <div class="d-flex justify-content-around mb-2" id="q3">

      <div class="card-answer">
        <%= button_tag "Timeless Classics", type: "submit", name: "age", value: "old",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/69004/pexels-photo-69004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectAge" } %>
      </div>

       <div class="card-answer">
        <%= button_tag "New Releases", type: "submit", name: "age", value: "recent",
          class: "button-answer",
          style: "background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/267586/pexels-photo-267586.jpeg'); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 2px black;",
          data: { action: "click->questionnaire-home#selectAge" } %>
      </div>
      </div>
        <button type="button" class="btn btn-back" data-action="click->questionnaire-home#goBackToQuestion2">Back</button>
      </div>
      </div>
    </div>
  </div>

<% end %>
