<% if params[:return_to_history] %>
  <div class="m-3">
    <%= link_to profile_path(anchor: 'history'), data: { turbo: false }, class: 'btn btn-secondary', style: 'background-color: #EFEF24; color: black' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>

<% if params[:return_to_favorites] %>
  <div class="m-3">
    <%= link_to favorites_path(anchor: 'justified-tabpanel-0'), data: { turbo: false }, class: 'btn btn-secondary', style: 'background-color: #EFEF24; color: black' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>




<div class="card mb-3 rounded-3 mx-auto" style="max-width: 600px; background-color: white;">
  <div class="row g-0 mt-5">
    <div class="col-12 text-center">
      <img class="img-fluid rounded-start" src="<%= @book.thumbnail %>" alt="Book Picture" id="img-book" style="width: 50%; max-width: 300px;">
    </div>
  </div>

  <div class="row g-0 mt-3">
    <div class="col-12">
      <div class="card-body">
        <!-- Part 1: Book Title and Author -->
        <div class="p-3 mb-3" style="border-radius: 15px; border: 1px solid #343a40; background-color: #f8f9fa;">
          <h4><strong><%= @book.title %></strong></h4>
          <p><em><%= @book.author %></em></p>
        </div>

        <!-- Accordion for Book Details -->
        <div class="accordion" id="accordionBookDetails">
          <!-- Part 2: About the Book -->
          <div class="accordion-item mb-3" style="border-radius: 10px; overflow: hidden; border: 1px solid #dee2e6; background-color: #f8f9fa;">
            <h2 class="accordion-header" id="headingAbout">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout"
                      style="border-radius: 10px; margin-bottom: 0; border: none; background-color: #f8f9fa;">
                About
              </button>
            </h2>
            <div id="collapseAbout" class="accordion-collapse collapse" aria-labelledby="headingAbout">
              <div class="accordion-body p-3" style="border-radius: 10px; background-color: #ffffff;">
                <div><strong>Author:</strong> <%= @book.author %></div>
                <hr style="border: 1px solid black;">
                <div><strong>Title:</strong> <%= @book.title %></div>
                <hr style="border: 1px solid black;">
                <div><strong>Number of Pages:</strong> <%= @book.number_of_pages %></div>
                <hr style="border: 1px solid black;">
                <div><strong>Release Date:</strong> <%= @book.publishing_date %></div>
              </div>
            </div>
          </div>

          <!-- Part 3: Description of the Book -->
          <div class="accordion-item mb-3" style="border-radius: 10px; overflow: hidden; border: 1px solid #dee2e6; background-color: #f8f9fa;">
            <h2 class="accordion-header" id="headingDescription">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription"
                      style="border-radius: 10px; margin-bottom: 0; border: none; background-color: #f8f9fa;">
                Description
              </button>
            </h2>
            <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription">
              <div class="accordion-body p-3" style="border-radius: 10px; background-color: #ffffff;">
                <p><%= @book.description %></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Buttons Side by Side -->
        <div class="d-flex justify-content-center mt-4" style="gap: 10px;">

        <!-- Add to Favorites Button -->
        <% if current_user.has_favorite?(@book) %>
          <button disabled class="btn btn-info d-flex align-items-center justify-content-center rounded-pill" style="height: 60px; padding: 0 1rem; width: 100%; max-width: 200px; pointer-events: none">
            <i class="fa-regular fa-circle-check" style="font-size: 1.5rem;" id="favorite-icon"></i>
            <span style="margin-left: 0.5rem;">Added</span>
          </button>
        <% else %>
          <%= link_to book_favorites_path(@book), data: { turbo_method: 'POST' }, class: 'btn btn-info d-flex align-items-center justify-content-center rounded-pill', style: 'height: 60px; padding: 0 1rem; width: 100%; max-width: 200px;', id: 'favorite-button' do %>
            <i class="fa-regular fa-bookmark" style="font-size: 1.5rem;" id="favorite-icon"></i>
            <span style="margin-left: 0.5rem;">Add to Favorites</span>
          <% end %>
        <% end %>

        <script>
          document.addEventListener('turbo:submit-end', function(event) {
            const button = document.getElementById('favorite-button');
            if (button) {
              button.querySelector('span').textContent = 'Added';

              const icon = button.querySelector('#favorite-icon');
              icon.classList.remove('fa-bookmark'); // Remove the bookmark icon class
              icon.classList.add('fa-circle-check'); // Add the check icon classes

              button.classList.add('disabled');

              button.style.pointerEvents = 'none';
            }
          });
        </script>

          <!-- Share Button -->
          <button class='btn btn-success d-flex align-items-center justify-content-center rounded-pill' style='height: 60px; padding: 0 1rem; width: 100%; max-width: 200px;' data-bs-toggle="modal" data-bs-target="#shareModal">
            <i class="fa-solid fa-arrow-up-right-from-square fa-lg" style="font-size: 1.5rem;"></i>
            <span style="text-align: center; margin-left: 1rem;">Share</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog d-flex align-items-center" style="height: 100vh; width: 100%vw">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-black" id="shareModalLabel">Share this book !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-around">
          <%= link_to "#", class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <i class="fa-regular fa-message text-black fs-1"></i>
              <div class="logo-caption text-black mt-2">Message</div>
            </div>
          <% end %>
          <%= link_to "#", class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <i class="fa-brands fa-whatsapp text-black fs-1"></i>
              <div class="logo-caption text-black mt-2">WhatsApp</div>
            </div>
          <% end %>
          <%= link_to "#", class: "navbar-brand p-0 m-0" do %>
            <div class="d-flex flex-column align-items-center logo-container">
              <i class="fa-brands fa-instagram text-black fs-1"></i>
              <div class="logo-caption text-black mt-2">Instagram</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
